@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
}

body,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

:root {
  --background: #202024;

  --text-title: #363f5f;
  --text-body: #969cb3;

  --shape: #ffffff;
}

.HeaderColor {
  background: #8e2de2;
  background: -webkit-linear-gradient(to left, #4a00e0, #8e2de2);
  background: linear-gradient(to left, #4a00e0, #8e2de2);
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: #323238;
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;
}

.active1 {
  background: #015f43;
}

.active2 {
  background: #fa9ca4;
}

.type1 {
  color: #00b37e;
}

.type2 {
  color: #aa2834;
}
